body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  background: #1a1a1a; }

.last {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.mid-width, .allwrap {
  width: 940px;
  margin: 0 auto; }

.header .top-bar-wrap {
  background: #ebebeb;
  padding: 10px 0; }
  .header .top-bar-wrap .top-bar {
    overflow: hidden; }
    .header .top-bar-wrap .top-bar .search, .header .top-bar-wrap .top-bar .social {
      display: inline-block;
      margin: 0;
      padding: 0; }
    .header .top-bar-wrap .top-bar .search {
      float: left; }
      .header .top-bar-wrap .top-bar .search .text, .header .top-bar-wrap .top-bar .search .button {
        padding: 4px; }
    .header .top-bar-wrap .top-bar .social {
      float: right; }
      .header .top-bar-wrap .top-bar .social span {
        margin: 0 5px;
        display: inline-block; }
      .header .top-bar-wrap .top-bar .social .last {
        margin-right: 0; }
.header .nav .logo {
  float: left;
  padding: 15px 0 0 0; }
.header .nav ul {
  float: right;
  margin: 0; }
  .header .nav ul li {
    list-style: none;
    float: left; }
    .header .nav ul li a {
      padding: 48px 0;
      margin: 0 22px;
      display: inline-block;
      color: #606060;
      text-shadow: 1px 0px #E2E2E2;
      text-decoration: none; }
      .header .nav ul li a.last {
        margin-right: 0; }
      .header .nav ul li a:hover {
        color: #034ea2;
        box-shadow: 0px -2px 0px #034ea2; }
.header .nav .burger {
  width: 34px;
  margin: 25px 0;
  height: 45px;
  position: relative;
  cursor: pointer;
  float: right;
  display: none; }
  .header .nav .burger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 34px;
    background: #034ea2;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    transition: .25s ease-in-out; }
  .header .nav .burger .span1 {
    top: 8px; }
  .header .nav .burger .span2 {
    top: 18px; }
  .header .nav .burger .span3 {
    top: 18px; }
  .header .nav .burger .span4 {
    top: 28px; }
.header .nav .cross .span1 {
  top: 18px;
  width: 0;
  right: 50%; }
.header .nav .cross .span4 {
  top: 18px;
  width: 0;
  right: 50%; }
.header .nav .cross .span2 {
  transform: rotate(45deg); }
.header .nav .cross .span3 {
  transform: rotate(-45deg); }

@media only screen and (max-width: 1440px) {
  .wrap {
    width: 100%; } }
@media only screen and (max-width: 940px) {
  .mid-width {
    width: 100%; }

  .header .top-bar-wrap .top-bar .social {
    padding: 0 10px; }

  .header .top-bar-wrap .top-bar .search {
    padding: 0 10px; }

  .header .nav .logo {
    padding: 2px 10px; }

  .header .nav .burger {
    display: block;
    right: 10px; }

  .header .nav ul {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    background: #ebebeb; }
    .header .nav ul li {
      display: block;
      float: none;
      width: 100%;
      background: #ebebeb; }
      .header .nav ul li a {
        padding: 15px 10px;
        margin: 0;
        display: block;
        border-bottom: 1px solid #606060; }
  .header .nav .open {
    border-top: 5px solid #034ea2;
    height: 250px; } }
.allwrap {
  text-align: center;
  margin-top: 250px; }
  .allwrap .button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    margin: 0 auto;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
    cursor: pointer;
    text-align: center; }
  .allwrap .button > paper-ripple {
    border-radius: 2px;
    overflow: hidden; }
  .allwrap .button.blue {
    background-color: #4285f4;
    color: #fff; }

input.theme {
  width: 120px;
  height: 32px;
  margin: 0 auto;
  line-height: 32px;
  border-radius: 2px;
  border: 0;
  font-size: 0.9em;
  background-color: #4285f4;
  color: #fff;
  cursor: pointer; }

input.theme2 {
  background-color: red; }

body.theme2 {
  background: darkgray; }

.btn {
  position: relative;
  cursor: pointer;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s; }

.btn:hover, .btn:focus {
  background-color: #27ae60; }

.btn > * {
  position: relative; }

.btn span {
  display: block;
  padding: 12px 50px; }

.wrap {
  width: 1080px;
  margin: 0 auto;
  text-align: center; }

.box {
  width: 40%;
  height: 200px;
  display: inline-block;
  background-color: white;
  margin: 25px 15px;
  border-radius: 5px; }

.box h3 {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 60px;
  color: #fff; }

.box1 {
  background-color: #EBA39E; }

.box2 {
  background-color: #EDE89A; }

.box3 {
  background-color: #9EEBA1; }

.box4 {
  background-color: #9EEBBF; }

.box5 {
  background-color: #9ED9EB; }

.box6 {
  background-color: #9EB3EB; }

.box7 {
  background-color: #DB9EEB; }

.box8 {
  background-color: #C49EEB; }

/*****************************************************************dashed border
****************************************************************/
.shadow1 h3, .shadow2 h3, .shadow3 h3, .shadow4 h3, .shadow5 h3, .shadow6 h3, .shadow7 h3, .shadow8 h3 {
  width: 87%;
  height: 100px;
  margin-left: 6%;
  border: 2px dashed #F7EEEE;
  border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
