.wrapper{
	background-color: #E22222;
	padding: 20px;
  width: 305px;
  margin: 50px auto;
}

.play{
	height: 50px;
  width: 50px;
  margin: 60px auto;
  overflow: hidden;
  position: relative;
	cursor: pointer;

	span{
		display: block;
	}

  .span1, .span2{
    height: 100%;
    width: 36%;
    transition: all 0.25s ease;
    background-color: #fff;
    overflow: hidden;
  }

	.span1{float: left;}
	.span2{float: right;}

	.span3 {transform: translate(0, -100%);}
	.span4 {transform: translate(0, 100%);}

.span3,
.span4 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 50px solid #E22222;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transition: transform 0.25s ease;
}
}

.pause {.span1{width: 50%;}}
.pause {.span2{width: 50%;}}
.pause {.span3 {transform: translate(0, -50%);}}
.pause {.span4{transform: translate(0, 50%);}}







body{background: black;}


.button{
  width: 50px;
	height: 50px;
	background: #000000;
	margin: 0 auto;
	cursor: pointer;
	transition: all 0.5s ease;

	.s1{
		display: block;
		background: #FFFFFF;
		width:50px;
		height: 50px;
		transition: all 0.3s ease;

		-webkit-clip-path: polygon(100% 0, 100% 36%, 100% 100%, 64% 100%, 63% 0, 35% 0, 35% 100%, 0 100%, 0% 35%, 0 0);
clip-path: polygon(100% 0, 100% 36%, 100% 100%, 64% 100%, 63% 0, 35% 0, 35% 100%, 0 100%, 0% 35%, 0 0);
	}

	&:hover .s1{
		-webkit-clip-path: polygon(100% 53%, 100% 0, 100% 53%, 46% 78%, 46% 24%, 46% 24%, 46% 78%, 0 100%, 0% 35%, 0 0);
		clip-path: polygon(100% 53%, 100% 0, 100% 53%, 46% 78%, 46% 24%, 46% 24%, 46% 78%, 0 100%, 0% 35%, 0 0);
	}

}
